Repository dsm23/dsm23-next-payloadcms-monorepo-template: changes, and which lefthook commands are due for each by the changed paths.
All: stylelint, eslint

stylelint:
  run: ./node_modules/.bin/turbo run lint:css -- {staged_files}

eslint:
  run: ./node_modules/.bin/turbo run lint:lint-staged -- {staged_files}

ci(renovate): use renovate docker image instead of pnpm
  .github/workflows/renovate.yml
Due: none

ci(codeql): update gh action versions
  .github/workflows/codeql.yml
Due: none

ci(bundle analysis): update pipeline with new patterns
  .github/workflows/nextjs_bundle_analysis.yml
Due: none

ci(renovate): add custom manager for download artifact
  renovate.json
Due: none

fix(next): update rest route handler types for Next.js 15.5 compatibility (#13521)
  apps/web/src/app/(frontend)/next/preview/route.ts
Due: eslint

ci(renovate): add security presets to config
  renovate.json
Due: none

ci(renovate): add download artifact custom manager
  renovate.json
Due: none

chore(unit tests): migrate from jest to vitest
  .github/workflows/unit-testing.yml
  .gitignore
  apps/web/.stylelintignore
  apps/web/jest.config.js
  apps/web/package.json
  apps/web/src/components/BeforeLogin/test.tsx
  apps/web/src/components/CollectionArchive/test.tsx
  apps/web/src/components/ui/button/fuzz.test.tsx
  apps/web/src/components/ui/button/test.tsx
  apps/web/src/components/ui/card/test.tsx
  apps/web/src/components/ui/checkbox/test.tsx
  apps/web/src/components/ui/input/test.tsx
  apps/web/src/components/ui/label/test.tsx
  apps/web/src/components/ui/pagination/test.tsx
  apps/web/src/components/ui/select/test.tsx
  apps/web/src/components/ui/textarea/test.tsx
  apps/web/src/utilities/can-use-dom/node.test.ts
  apps/web/src/utilities/can-use-dom/test.ts
  apps/web/src/utilities/format-authors/test.ts
  apps/web/src/utilities/format-date-time/test.ts
  apps/web/src/utilities/generate-meta/test.ts
  apps/web/src/utilities/generate-preview-path/test.ts
  apps/web/src/utilities/get-media-url/test.ts
  apps/web/src/utilities/get-url/node.test.ts
  apps/web/src/utilities/get-url/port.test.ts
  apps/web/src/utilities/get-url/test.ts
  apps/web/src/utilities/merge-open-graph/test.ts
  apps/web/src/utilities/to-kebab-case/test.ts
  apps/web/src/utilities/ui/fuzz.test.ts
  apps/web/src/utilities/ui/test.ts
  apps/web/src/utilities/use-debounce/test.ts
  apps/web/src/vitest.setup.ts
  apps/web/tsconfig.json
  apps/web/vitest.config.ts
  pnpm-lock.yaml
Due: eslint

fix(templates): make images visible in live preview if it is not running on port 3000
  apps/web/next.config.ts
  apps/web/turbo.json
Due: eslint

fix(templates): wrong link in demo content (custom components)
  apps/web/src/components/BeforeDashboard/index.tsx
  apps/web/src/payload.config.ts
Due: eslint

chore(templates): only generate slug from title on demand
  apps/web/src/fields/slug/SlugComponent.tsx
  apps/web/src/fields/slug/formatSlug.ts
  apps/web/src/fields/slug/index.scss
Due: eslint

chore(templates): uri encode the cacheTag in getMediaUrl utility
  apps/web/src/utilities/get-media-url/index.ts
  apps/web/src/utilities/get-media-url/test.ts
Due: eslint

chore(templates): fix experimental-build-mode compile generating invalid code
  apps/web/src/utilities/get-url/index.ts
Due: eslint

feat(richtext-lexical): utility render lexical field on-demand
  apps/web/next-env.d.ts
  apps/web/src/blocks/Form/Component.tsx
  apps/web/src/blocks/Form/Message/index.tsx
  apps/web/src/blocks/RelatedPosts/Component.tsx
Due: eslint

chore: slug field
  apps/web/package.json
  apps/web/src/app/(payload)/admin/importMap.js
  apps/web/src/collections/Categories.ts
  apps/web/src/collections/Pages/index.ts
  apps/web/src/collections/Posts/index.ts
  apps/web/src/components/RichText/index.tsx
  apps/web/src/endpoints/seed/index.ts
  apps/web/src/fields/slug/SlugComponent.tsx
  apps/web/src/fields/slug/formatSlug.ts
  apps/web/src/fields/slug/index.scss
  apps/web/src/fields/slug/index.ts
  apps/web/src/hooks/formatSlug.ts
  apps/web/tsconfig.json
  pnpm-lock.yaml
Due: eslint

chore(slugs): encoding and decoding slugs
  apps/web/src/app/(frontend)/[slug]/page.tsx
  apps/web/src/app/(frontend)/posts/[slug]/page.tsx
  apps/web/src/utilities/generate-preview-path/index.ts
Due: eslint

chore(deps): update dependency prettier-plugin-tailwindcss to v0.7.1
  apps/web/package.json
  apps/web/src/app/(frontend)/globals.css
  pnpm-lock.yaml
Due: stylelint

test(vitest): use more vitest utils
  apps/web/src/components/ui/checkbox/test.tsx
  apps/web/src/utilities/generate-meta/test.ts
  apps/web/src/utilities/get-media-url/test.ts
  apps/web/src/utilities/merge-open-graph/test.ts
Due: eslint

ci(renovate): use config:best-practices
  renovate.json
Due: none

ci(renovate): explicitly group nextjs packages
  renovate.json
Due: none

chore(commitizen): remove commitizen
  apps/web/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update js unit test packages to v4
  apps/web/package.json
  apps/web/src/components/ui/checkbox/test.tsx
  apps/web/vitest.config.ts
  pnpm-lock.yaml
Due: eslint

chore(@repo): rename internal packages to @repo from @workspace
  apps/web/eslint.config.js
  apps/web/package.json
  apps/web/stylelint.config.js
  apps/web/tsconfig.json
  package.json
  packages/eslint-config/package.json
  packages/stylelint-config/package.json
  packages/typescript-config/README.md
  packages/typescript-config/package.json
  pnpm-lock.yaml
  tsconfig.json
Due: eslint

chore(postcss): add postcss-config internal package
  apps/web/package.json
  apps/web/postcss.config.js
  apps/web/src/payload-types.ts
  packages/postcss-config/package.json
  packages/postcss-config/postcss.config.js
  pnpm-lock.yaml
Due: eslint

chore(ui): add ui internal package and migrate button component
  .gitignore
  apps/web/package.json
  apps/web/src/app/(frontend)/globals.css
  apps/web/src/app/(frontend)/not-found.tsx
  apps/web/src/app/(payload)/admin/importMap.js
  apps/web/src/blocks/Code/CopyButton.tsx
  apps/web/src/blocks/Form/Component.tsx
  apps/web/src/components/Link/index.tsx
  apps/web/src/components/ui/button/index.tsx
  apps/web/src/components/ui/pagination/index.tsx
  apps/web/turbo.json
  packages/ui/.stylelintignore
  packages/ui/components.json
  packages/ui/eslint.config.js
  packages/ui/package.json
  packages/ui/prettier.config.js
  packages/ui/src/components/button/fuzz.test.tsx
  packages/ui/src/components/button/index.stories.tsx
  packages/ui/src/components/button/index.tsx
  packages/ui/src/components/button/test.tsx
  packages/ui/src/components/dropdown-menu/index.tsx
  packages/ui/src/components/dropdown-menu/test.tsx
  packages/ui/src/components/theme-provider/index.tsx
  packages/ui/src/components/theme-provider/test.tsx
  packages/ui/src/hooks/use-mounted/index.ts
  packages/ui/src/hooks/use-mounted/test.ts
  packages/ui/src/lib/fuzz.test.ts
  packages/ui/src/lib/utils.test.ts
  packages/ui/src/lib/utils.ts
  packages/ui/src/test-utils/index.ts
  packages/ui/tsconfig.json
  packages/ui/turbo.json
  packages/ui/vitest.config.ts
  packages/ui/vitest.setup.ts
  pnpm-lock.yaml
  turbo.json
Due: stylelint, eslint

ci(renovate): enforce turbo version in dockerfile with renovate
  apps/web/Dockerfile
  renovate.json
Due: none

ci(mergify): use or operator for renovate/stability-days
  .mergify.yml
Due: none

chore(gitignore): add out/ to .gitignore
  .gitignore
Due: none

ci(renovate): combine npm datasource and manager release age
  renovate.json
Due: none

chore(deps): update storybook monorepo to v10
  apps/storybook/.storybook/main.ts
  apps/storybook/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: eslint

ci(renovate): add turbo monorepo to config
  renovate.json
Due: none

chore(deps): update dependency prettier to v3.7.1
  apps/web/package.json
  package.json
  packages/ui/src/components/button/index.tsx
  pnpm-lock.yaml
Due: eslint

chore(deps): update to nextjs v16
  .github/workflows/nextjs_bundle_analysis.yml
  .mergify.yml
  apps/storybook/next-env.d.ts
  apps/web/.gitignore
  apps/web/next-env.d.ts
  apps/web/next-sitemap.config.cjs
  apps/web/next.config.ts
  apps/web/package.json
  apps/web/redirects.js
  apps/web/scripts/reportBundleSize.js
  apps/web/src/Footer/hooks/revalidateFooter.ts
  apps/web/src/Header/hooks/revalidateHeader.ts
  apps/web/src/collections/Pages/hooks/revalidatePage.ts
  apps/web/src/collections/Posts/hooks/revalidatePost.ts
  apps/web/src/hooks/revalidateRedirects.ts
  apps/web/src/payload-types.ts
  apps/web/src/proxy.ts
  packages/eslint-config/base.js
  packages/eslint-config/index.js
  packages/eslint-config/next.js
  packages/eslint-config/package.json
  packages/eslint-config/payload.js
  packages/eslint-config/react.js
  packages/ui/src/hooks/use-mounted/index.ts
  pnpm-lock.yaml
Due: eslint

chore(deps): remove @payloadcms/payload-cloud
  apps/web/next-env.d.ts
  apps/web/package.json
  apps/web/src/plugins/index.ts
  pnpm-lock.yaml
Due: eslint

fix(images): allow images on local ip
  apps/web/next.config.ts
  apps/web/src/app/(payload)/admin/importMap.js
  apps/web/src/payload-types.ts
Due: eslint

ci(renovate): add minimum 3 days release on all updates
  renovate.json
Due: none

ci(renovate): remove docker datasource minimumReleaseAge
  renovate.json
Due: none

chore(git): update .gitattributes with auto-gen files
  .gitattributes
Due: none

Path conditions:
  stylelint: any of: *.css
  eslint: any of: *.ts, *.js, *.tsx, *.jsx, *.md, *.mdx
